body {
    background-color: #a3dee4;;
    color: #264853;
    font-family: "Raleway", sans-serif;

}

/*header*/
.box-header {
    position: relative;
    width: 940px;
    margin: 10px auto;
}

header {
    background-color: #097a98;
}

.logo {
    width: 75px;
}

nav {
    position: absolute;
    top: 35px;
    right: 10px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}

nav a {
    text-decoration: none;
    color: #96d1e9;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover{
    color: #ffffff;
}

/*main*/
main {
    width: 940px;
    margin: 10px auto;
}

form {
    margin: 40px 0;
}

form label, legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-registrer {
    display: block;
    width: 50%;
    margin: 0 0 20px;
    padding: 10px 25px;
}

.input-checkbox {
    padding: 20px 0;
}

.submit{
    width: 40%;
    font-size: 18px;
    padding: 10px;
    color: #96d1e9;
    background-color: #264853;
    border-radius: 5px;
    border: none;
    transition: 1s all;
}

.submit:hover{
    background-color: #063446;
    transform: scale(1.2);
}

thead{
    margin: 40px;
    background-color: #264853;
    color: #96d1e9;
    font-weight: bold;
    height: 20px;
}

td, th {
    border: 1px solid #264853;
    padding: 8px 15px;

}

/*footer*/
footer {
    background: #063446;
    text-align: center;
    padding: 20px;
}

.copyright {
    color: white;
    padding: 20px;
    font-size: 13px;
}

/*mobile*/
@media screen and (max-width: 440px) {
    .box-header, main, .input-registrer, .input-registrer, .submit {
        width: auto;
    }

    .input-registrer {
        padding: 10, 10px, 10, 0;
    }
}