@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #097a98;
    color: #ffffff;
    font-family: "Raleway", sans-serif;

}

/*header*/
.box-header {
    position: relative;
    width: 940px;
    margin: 10px auto;
}

header {
    background-color: #097a98;
}

.logo {
    width: 75px;
}

nav {
    position: absolute;
    top: 35px;
    right: 10px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}

nav a {
    text-decoration: none;
    color: #96d1e9;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover{
    color: #ffffff;
}

/*main*/

#banner {
    width: 100%;
}
/*box text*/
.box-mostly{
    background-color: #097a98;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 27px;
    padding: 20px;
}

.img-pharmacy{
    width: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

.box-mostly p {
    margin: 20px auto;
  /*clear: left;*/
}

#mission {
    color: #96d1e9;
    font-size: 20px;
}

.box-differential {
    width: 940px;
    margin: 30px auto;
    background: #a3dee4;

}

/*map*/
.box-map{
    text-align: center;
}

.box-map iframe {
    margin: 20px;
}

/*video*/
.video {
    display: flex;
    justify-content: center;
    align-content: center;
}

.video iframe {
    width: 560px;
    align-items: center;
    margin: 30px;
}

/*differential*/
.differential{
    background: #a3dee4;
    margin: 0 auto;
    padding: 27px;
    text-align: center;
}

.titleDifferential {
    text-align: center;
    color: #264853;
    text-transform: uppercase;
    font-size: 27px;
}

.ulDifferential {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25px;
    font-size: 20px;
    margin-top: 50px;
}

.item {
    font-style: italic;
    color: #296675;
    text-align: left;
    padding: 2px;
}

.imgDifferential{
    width: 200px;
    height: 200px;
}

/*footer*/
footer {
    background: #063446;
    text-align: center;
    padding: 20px;
}

.copyright {
    color: white;
    padding: 20px;
    font-size: 13px;
}