body {
    background-color: #097a98;
    color: #ffffff;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#mission {
    color: #96d1e9;
    font-size: 20px;
}

.differential{
    background: #a3dee4;
}

h2 {
    text-align: center;
    color: #264853;
}

.item {
    font-style: italic;
    color: #296675;
}