body {
    background-color: #097a98;
    color: #ffffff;
}

#banner {
    width: 100%;
}

.title {
    text-align: center;
}


.paragraphs{
    margin: 30px;
    padding: 20px;
}

#mission {
    color: #96d1e9;
    font-size: 20px;
}

.differential{
    background: #a3dee4;
    margin-top: 30px;
    padding: 20px;
}

.titleDifferential {
    text-align: center;
    color: #264853;
}

.ulDifferential {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25px;
}

.item {
    font-style: italic;
    color: #296675;
}

.imgDifferential{
    width: 50%;
}